/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
h1{
	 color: blue;
}
h2{
	color: pink;
 }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

h1{
	color: green;
  }
  h2{
  	color: yellow;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

h1{
 color: black
 }
 h2{
 	color: blue;
 }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
h1{
	 
}

 }
/*custom ex Large devices (desktops, 992px and up)*/
@media (min-width:1200px) and (max-width: 1399.98px) { 
h1{
}
}

 
/*custom Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) { 
h1{
	
}
}